.card{
    text-decoration: none;
}
.custom-fw{
    color: rgb(197, 37, 91) !important; 
    font-weight:650 !important;
}

.hover-event:hover{
    background-color: rgb(0, 74, 99) !important;
    cursor: pointer !important;
    color: white;
}

.hover-event:hover .custom-fw{
    color: white !important;
}
.hover-event:hover span{
    color: white !important;
}
.hover-event:hover .hover-style{
    border:1px solid white !important;
}

.hover-news:hover{
    background-color: rgb(160, 4, 100) !important;
    cursor: pointer !important;
    color: white;
}

.hover-news:hover .custom-fw{
    color: white !important;
}
.hover-news:hover span{
    color: white !important;
}
.hover-news:hover .hover-style{
    border:1px solid white !important;
}

