.custom-story-image{
    width: 30%;
}


@media (max-width:900px) {
    .custom-story-image{
        width: 40%;
    }
}

@media (max-width:700px) {
    .custom-story-image{
        width: 50%;
    }
    .custom-fs{
        font-size: 20px;
    }
}

@media (max-width:500px) {
    .custom-story-image{
        width: 80%;
    }
}